<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>FKD</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <link href="assets/css/main.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: eBusiness
  * Template URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body class="starter-page-page">
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center"
      >
        <a href="index.html" class="logo d-flex align-items-center me-auto">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <img src="assets/img/logo.png" alt="FKD" />
          <h4 class="sitename">Forum Komunikasi Dosen (FKD)</h4>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="index.html" class="active">Home</a></li>
            <li class="dropdown">
              <a href="#"
                ><span>Profile</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i
              ></a>
              <ul>
                <li><a href="#tentangfkd">Tentang FKD</a></li>
                <li><a href="#visimisi">VISI dan Misi</a></li>
                <li><a href="struktur.html">Struktur Organisasi</a></li>
                <li><a href="#legalitas">Legalitas</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#"
                ><span>Program</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i
              ></a>
              <ul>
                <li><a href="#">Penelitian</a></li>
                <li><a href="#">Seminar</a></li>
              </ul>
            </li>
            <li><a href="#about">OJS</a></li>
            <li><a href="blog.html">Berita</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#team">Team</a></li>

            <li><a href="#contact">Contact</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="index.html#about">Member</a>
      </div>
    </header>

    <main class="main">
      <!-- Page Title -->
      <div class="page-title dark-background">
        <div class="container position-relative">
          <h1>Starter Page</h1>
          <p>
            Esse dolorum voluptatum ullam est sint nemo et est ipsa porro
            placeat quibusdam quia assumenda numquam molestias.
          </p>
          <nav class="breadcrumbs">
            <ol>
              <li><a href="index.html">Home</a></li>
              <li class="current">Starter Page</li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- End Page Title -->

      <!-- Starter Section Section -->
      <section id="service-details" class="service-details section">
        <div class="container">
          <div class="row gy-5">    
            <div class="col-lg-9 col-md-9" data-aos="fade-up" data-aos-delay="200">
              <img
                src="assets/img/services.jpg"
                alt=""
                class="img-fluid services-img"
              />
              <h3>
                Workshop dan Diskusi Kelompok Fokus Penyusunan Proposal
                Pengabdian kepada Masyarakat bagi Dosen PTKIS di Pesantren
                At-Taubah
              </h3>
              <p>
                Kediri, 18 Mei 2024 – Forum Komunikasi Dosen Peneliti Indonesia
                (FKDPedia) mengadakan acara Workshop dan Focus Group Discussion
                (FGD) bertajuk “Penyusunan Proposal Pengabdian kepada Masyarakat
                bagi Dosen PTKIS” di Pesantren At-Taubah, Desa Puncu, Kecamatan
                Puncu, Kabupaten Kediri. Kegiatan ini bertujuan untuk
                meningkatkan kemampuan dosen-dosen Perguruan Tinggi Keagamaan
                Islam Swasta (PTKIS) dalam menyusun proposal pengabdian kepada
                masyarakat yang efektif dan bermanfaat. Acara yang berlangsung
                dengan suasana hangat dan interaktif ini dihadiri oleh para
                dosen dari berbagai PTKIS. Dalam foto terlihat dua peserta
                workshop sedang berdiskusi dengan penuh semangat di depan
                backdrop acara. Salah satu peserta, mengenakan batik, tertawa
                lepas sementara yang lain serius memperhatikan laptop di
                depannya. Di atas meja, terlihat dokumen-dokumen penting dan
                botol-botol air minum, menunjukkan kegiatan berlangsung dalam
                suasana yang produktif. Kegiatan ini merupakan bagian dari upaya
                FKDPedia untuk memperkuat peran dosen dalam pengabdian kepada
                masyarakat, khususnya dalam konteks pendidikan dan pengembangan
                komunitas lokal. Pesantren At-Taubah menjadi tuan rumah yang
                menyediakan lingkungan kondusif untuk diskusi dan pertukaran
                ide. Dengan adanya workshop dan FGD ini, diharapkan dosen-dosen
                PTKIS semakin terampil dalam menyusun proposal pengabdian yang
                berkualitas, sehingga mampu memberikan kontribusi nyata bagi
                masyarakat sekitar.
              </p>
              <p>
                Blanditiis voluptate odit ex error ea sed officiis deserunt.
                Cupiditate non consequatur et doloremque consequuntur.
                Accusantium labore reprehenderit error temporibus saepe
                perferendis fuga doloribus vero. Qui omnis quo sit. Dolorem
                architecto eum et quos deleniti officia qui.
              </p>
              <img
                src="assets/img/services.jpg"
                alt=""
                class="img-fluid"
              />
              <ul>
                <li>
                  <i class="bi bi-check-circle"></i>
                  <span>Aut eum totam accusantium voluptatem.</span>
                </li>
                <li>
                  <i class="bi bi-check-circle"></i>
                  <span
                    >Assumenda et porro nisi nihil nesciunt voluptatibus.</span
                  >
                </li>
                <li>
                  <i class="bi bi-check-circle"></i>
                  <span>Ullamco laboris nisi ut aliquip ex ea</span>
                </li>
              </ul>
              <p>
                Est reprehenderit voluptatem necessitatibus asperiores neque sed
                ea illo. Deleniti quam sequi optio iste veniam repellat odit.
                Aut pariatur itaque nesciunt fuga.
              </p>
              <p>
                Sunt rem odit accusantium omnis perspiciatis officia. Laboriosam
                aut consequuntur recusandae mollitia doloremque est architecto
                cupiditate ullam. Quia est ut occaecati fuga. Distinctio ex
                repellendus eveniet velit sint quia sapiente cumque. Et ipsa
                perferendis ut nihil. Laboriosam vel voluptates tenetur nostrum.
                Eaque iusto cupiditate et totam et quia dolorum in. Sunt
                molestiae ipsum at consequatur vero. Architecto ut pariatur
                autem ad non cumque nesciunt qui maxime. Sunt eum quia impedit
                dolore alias explicabo ea.
              </p>
            </div>
            <div class="col-lg-3 col-md-3" data-aos="fade-up" data-aos-delay="100">          
                <div class="service-box">
                  <h4>Serices List</h4>
                  <div class="services-list">
                    <a href="#" class="active"><i class="bi bi-arrow-right-circle"></i><span>Web Design</span></a>
                    <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Web Design</span></a>
                    <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Product Management</span></a>
                    <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Graphic Design</span></a>
                    <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Marketing</span></a>
                  </div>
                </div>
    
                <div class="service-box">
                  <h4>Download Catalog</h4>
                  <div class="download-catalog">
                    <a href="#"><i class="bi bi-filetype-pdf"></i><span>Catalog PDF</span></a>
                    <a href="#"><i class="bi bi-file-earmark-word"></i><span>Catalog DOC</span></a>
                  </div>
                </div>
                <div class="help-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-headset help-icon"></i>
                  <h4>Have a Question?</h4>
                  <p class="d-flex align-items-center mt-2 mb-0"><i class="bi bi-telephone me-2"></i> <span>+1 5589 55488 55</span></p>
                  <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a href="mailto:contact@example.com">contact@example.com</a></p>
                </div>
    
              </div>
          </div>
        </div>
      </section>
      <section id="starter-section" class="starter-section section">
        <!--   <div class="container section-title" data-aos="fade-up">
                <h2>Starter Section</h2>
                <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
            </div>


            <div class="container" data-aos="fade-up">
                <p>Use this page as a starter for your own custom pages.</p>
            </div> -->
      </section>
    </main>

    <footer id="footer" class="footer dark-background">
      <div class="footer-newsletter">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-lg-6">
              <h4>Join Our Newsletter</h4>
              <p>
                Subscribe to our newsletter and receive the latest news about
                our products and services!
              </p>
              <form
                action="forms/newsletter.php"
                method="post"
                class="php-email-form"
              >
                <div class="newsletter-form">
                  <input type="email" name="email" /><input
                    type="submit"
                    value="Subscribe"
                  />
                </div>
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">
                  Your subscription request has been sent. Thank you!
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="index.html" class="d-flex align-items-center">
              <span class="sitename">eBusiness</span>
            </a>
            <div class="footer-contact pt-3">
              <p>A108 Adam Street</p>
              <p>New York, NY 535022</p>
              <p class="mt-3">
                <strong>Phone:</strong> <span>+1 5589 55488 55</span>
              </p>
              <p><strong>Email:</strong> <span>info@example.com</span></p>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li>
                <i class="bi bi-chevron-right"></i> <a href="#">About us</a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <a href="#">Services</a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a href="#">Terms of service</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i> <a href="#">Web Design</a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a href="#">Web Development</a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a href="#">Product Management</a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <a href="#">Marketing</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-12">
            <h4>Follow Us</h4>
            <p>
              Cras fermentum odio eu feugiat lide par naso tierra videa magna
              derita valies
            </p>
            <div class="social-links d-flex">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="container copyright text-center mt-4">
        <p>
          © <span>Copyright</span>
          <strong class="px-1 sitename">eBusiness</strong>
          <span>All Rights Reserved</span>
        </p>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you've purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer>

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
